.cabecalho {
    height: 19%;
    width: auto;
    border: solid 3px #8D6E63;
    margin: auto;
    background-color: #2E7D32;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 350ms ;
    color: #ffff;
}

.cabecalho:hover {
    transform: scale(1.002);
    background-color: #37903b;
    color: brown;
}