body {
    height: auto;
    background-color: purple;
}

footer {
    height: 10%;
    border: solid 3px #8D6E63;
    margin: auto;
    background-color: #2E7D32;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 350ms ;
    color: #ffff;
}

img {
    height: 300px;
    width: 400px;
    margin: auto;
    margin-left: 3px;
    margin-right: 3px;
    border: solid 0px;
    border-radius: 10px;
}
 
.conteiner {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: auto;
    margin: auto;
}

.conteiner2 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: auto;
    margin: auto;
}

.conteiner3 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: auto;
    margin: auto;
}

.conteiner4 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: auto;
    margin: auto;
}