body {
    height: auto;
    background-color: purple;
}

footer {
    height: 10%;
    width: auto;
    border: solid 3px #8D6E63;
    margin: auto;
    background-color: #2E7D32;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 350ms ;
    color: #ffff;
}

img {
    height: auto;
    width: auto;
    margin: auto;
    margin-left: 3px;
    margin-right: 3px;
    border: solid 0px;
    border-radius: 10px;
    max-height: 250px;
    max-width: 350px;
}
 
.conteiner {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: auto;
}

.conteiner2 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: auto;
}

.conteiner3 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: auto;
}

.conteiner4 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: auto;
}